
<form novalidate #myForm="ngForm" [hidden]="false">
  <button (click)="exportExcel()">Export</button>
  <kendo-grid [data]="gridData" [height]="550" id="junk1"
              [pageSize]="state.take" [skip]="state.skip"
              [sort]="state.sort"
              [filter]="state.filter"
              [sortable]="true"
              [pageable]="true" [filterable]="true"
              (dataStateChange)="dataStateChange($event)"
              (add)="addHandler($event,myForm)"
              (remove)="removeHandler($event.dataItem)"
              (save)="saveHandler($event)" (cancel)="cancelHandler($event)"
              (edit)="editHandler($event)">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand type="button">Add New </button>
    </ng-template>

    <kendo-grid-column field="id" data- title="ID" width="40" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="UserShortName" data- title="UserShortName" width="40">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.UserShortName" name="UserShortName" class="k-textbox" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="email" data- title="email" width="40">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.email" name="email" class="k-textbox" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="test" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="text" [value]="dataItem.email" />
        <a href="#" (click)="onTest()">testtest</a>
      </ng-template>

    </kendo-grid-column>

    <kendo-grid-command-column title="Actions" width="130">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridEditCommand>Edit</button>
        <button kendoGridRemoveCommand [primary]="true">Remove</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
    <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>
  </kendo-grid>
</form>
