
<input type="button" (click)="test()" />
<form novalidate [formGroup]="form">
  <!--#myForm="ngForm">-->
  <button (click)="addHandler($event,myForm)">Add</button>
  <button #save [hidden]="form.invalid" (click)="onSave()">Save</button>
  <button type="submit" (click)="onSubmit()">Submit</button>
  <button (click)="onRefresh()">Refresh</button>
  <button (click)="onClearFilter()">Clear Filter</button>


  <button type="submit">SEND</button>
  <table width="100%" formGroupName="header" novalidate>
    <tr>
      <td>
        <select type="text" formControlName="name" value="2"><option value="0">op1</option><option value="d">op11</option></select>

        <label>Client</label>
        <select formControlName="clientId" (change)="onChange($event )">
          <option *ngFor="let client of clients" [value]="client.id">
            {{client.name }}
          </option>
        </select>
      </td>
      <td>
        <label>BU</label>
        <select formControlName="buId" (change)="onChange($event)" style="width:100px">
          <option *ngFor="let bu of bus" [value]="bu.id">
            {{bu.name }}
          </option>
        </select>
      </td>
      <td>
        <label>Account</label>
        <select formControlName="iAccount" id="account" name="account">
          <option *ngFor="let account of accounts" [value]="account.id">
            {{account.name }}
          </option>
        </select>
        <div class="form-control-feedback" *ngIf="iAccount !=null && iAccount.invalid">
          Field is invalid
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label>Date</label>
        <mat-form-field>
          <input formControlName="dtTradeDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
<myGrid></myGrid>
<!--<form novalidate #myForm="ngForm" [hidden]="this.form.get('header').value.iAccount==0">
  <button (click)="exportExcel()">Export</button>
  <kendo-grid [data]="gridData" [height]="550" id="junk1"
              [pageSize]="state.take" [skip]="state.skip"
              [sort]="state.sort"
              [filter]="state.filter"
              [sortable]="true"
              [pageable]="true" [filterable]="true"
              (dataStateChange)="dataStateChange($event)"
              (add)="addHandler($event,myForm)"
              (remove)="removeHandler($event.dataItem)"
              (save)="saveHandler($event)" (cancel)="cancelHandler($event)"
              (edit)="editHandler($event)">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand type="button">Add New </button>
    </ng-template>

    <kendo-grid-column field="id" data- title="ID" width="40" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="UserShortName" data- title="UserShortName" width="40">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.UserShortName" name="UserShortName" class="k-textbox" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="email" data- title="email" width="40">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.email" name="email" class="k-textbox" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="test" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="text" [value]="dataItem.email" />
        <a href="#" (click)="onTest()">testtest</a>
      </ng-template>

    </kendo-grid-column>

    <kendo-grid-command-column title="Actions" width="130">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridEditCommand>Edit</button>
        <button kendoGridRemoveCommand [primary]="true">Remove</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
    <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>
  </kendo-grid>
</form>-->
