<form novalidate #myForm="ngForm">
  <kendo-grid [data]="gridData"
              [height]="533"
              (add)="addHandler($event,rigForm)"
              (remove)="removeHandler($event.dataItem)"
              (save)="saveHandler($event)" (cancel)="cancelHandler($event)"
              (edit)="editHandler($event)">
    <kendo-grid-column field="ProductID" title="Product Name">

    </kendo-grid-column>

    <kendo-grid-column field="ProductName" data- title="ProductName" width="400">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input [(ngModel)]="dataItem.ProductName" name="ProductName" class="k-textbox" required />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="command" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridSaveCommand>{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridEditCommand>Edit</button>
        <button kendoGridRemoveCommand [primary]="true">Remove</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
  <input type="button" (click)="onClose()" />
</form>
