
.header, .header-menu#sidebar, .marque-wrapper,#todaysdate, .login-wrapper, .navbar-toggle {display:none !important;} 

#mainContainer {margin-top:0 !important; }

#mainContainer h1.pageheading {padding:0px 20px; height: 40px !important;}

.grid-wrapper #CounterpartyAuditReport_Grid1 .t-grid-pager, .grid-wrapper #CommodityyAuditReport_Grid .t-grid-pager
.grid-wrapper #MTMToPlanClickThroughReport_Grid1 .t-grid-pager {display:none;}

/*#todaysdate.show-date-time {
display: block !important;
right: 20px;}*/

#mainContainer { padding-left:0;}

#mainContainer .gencontainer.marque-extra-padding { padding-top: 70px;}