/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,#ComputedFieldsWindow .computed-wrapper
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*************master reset end*****************/

html, body {
    height: 100%;
    font-family: Arial;
    font-size: 0.9em;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #0293de;
}

    a:hover {
        text-decoration: underline;
    }


div.contentwrapper {
}

div.maincontent {
    overflow: auto;
    padding-bottom: 40px;
}

div.footer {
    position: relative;
    clear: both;
    margin-top: -40px;
    height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 40px;
    color: #555;
}

div.header {
    height: 65px;
    background: #373640;
}

div.header_logo {
    float: left;
    text-align: left;
    line-height: 65px;
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
    font-family: Arial,Helvetica, Verdana;
}

div.adminheaderright {
    float: right;
}

div.adminheaderlinks {
    margin: 0px 5px 0px 0px;
    color: #fff;
    text-align: right;
}

    div.adminheaderlinks a {
        color: #2db2ff;
    }

        div.adminheaderlinks a:hover {
            text-decoration: underline;
        }

div.login-info {
    margin-right: 5px;
    color: #fff;
}

a.btnlogout {
    line-height: 50px;
    color: #fff;
    padding: 5px 12px;
    background-color: #f18612;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/***General Classes******/
.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.clear_both {
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.bold_text {
    font-weight: bold;
}

.italic_text {
    font-style: italic;
}

.overflow_auto {
    overflow: auto;
}

.red_text {
    color: red;
}

.FinRevTradeType2Col0 {
    background-color: #bfbfbf !important;
    /*color:"white";*/
    font-weight: bold;
}

.FinRevTradeType2ColOther {
    background-color: #bfbfbf !important;
    font-weight: bold;
    /*color:"white";*/
    text-align:center;
}

.FinRevOtherCol0 {
    text-indent: 20px;
    /*font-variant: small-caps;*/
}
.FinRevOtherColOther {
    text-align:center;
    /*font-variant: small-caps;*/
}
.margin_auto {
    margin: 0px auto !important;
}

div.box {
    border: 1px solid #ccc;
    padding: 15px;
    background: #f8f8f8;
    -webkit-box-shadow: 0 0 5px 3px #eaeaea;
    box-shadow: 0 0 5px 3px #eaeaea;
    margin: 3% auto;
}

div.box2 {
    border: 1px solid #ccc;
    padding: 15px;
    background: #f8f8f8;
    -webkit-box-shadow: 0 0 5px 3px #eaeaea;
    box-shadow: 0 0 5px 3px #eaeaea;
    margin: 10px 0 10px 0;
}

div.boxwid {
    width: 350px;
}

div.rowcontainer {
    clear: both;
}

div.gencontainer {
    padding: 15px;
}

div.status-bar {
    background: #f2f2f2;
    padding: 7px 5px;
}

div.container1 {
    width: 25%;
}

div.container2 {
    width: 30%;
}

div.container3 {
    width: 40%;
}

div.container4 {
    width: 50%;
}

table.tbl1 thead tr th {
    padding: 5px 4px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background-color: #1399e6;
}

table.tbl1 tbody tr td {
    padding: 4px;
}

img.helpicon {
    position: relative;
    top: 3px;
    margin-right: 8px;
}

/************TYPO*******************/
h1.pageheading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    margin: 5px 0px 10px 0px;
    color: #29aae3;
    font-weight:normal;
}

h1.pageheadingsmall {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    margin: 5px 0px 10px 0px;
    color: #29aae3;
}

h2.sectionheading {
    font-family: Arial;
    font-size: 1.2em;
    margin: 5px 0px 10px 0px;
    color: #555;
    font-weight: bold;
}

h5.popupheading {
    font-family: Arial;
    font-size: 1.5em;
    margin: 5px 0px 10px 0px;
    color: #555;
    font-weight: bold;
}
/********************LINKS SECTION*************/
a.link1 {
    color: #2db2ff;
    text-decoration: none;
}

    a.link1:hover {
        text-decoration: underline;
    }
/***********HTML CONTROLS STYLE****************/
label, input, select, textarea {
    font-family: Arial;
    font-size: 1em;
    color: #808080;
    margin-bottom: 4px;
}

    label.lbl1 {
        display: block;
        line-height: 16px;
        min-width: 100px;
    }

span[for="StartDate"], span[for="EndDate"] {
    position: relative;
    top: 7px;
    margin-left: 85px;
    color: #ff0000;
}

span.field-validation-error span, span.field-validation-error, .validation-error {
    color: #ff0000;
}
 
input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
 
    height: 24px;
    min-width: 250px;
    max-width: 250px;
}
  

    input[type="text"].txtbox1, input[type="password"].txtbox1 {
        width: 90%;
    }

    input[type="text"].txtbox2, input[type="password"].txtbox2 {
        width: 98%;
    }

input[name="StartDate"], input[name="EndDate"] {
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    min-width: 80px;
}

    .btn:hover, .btn:visited {
        text-decoration: none;
        color: #fff;
    }

.btn2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 3px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

    .btn2:hover, .btn2:visited {
        text-decoration: none;
        color: #fff;
    }

.btnblue {
    background-color: #077fbd;
    background-image: linear-gradient(to bottom, #1399e6, #077fbd);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .btnblue:hover {
        background: #077fbd;
    }

.btnblack {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .btnblack:hover {
        background: #222222;
    }

.btninline {
    margin-left: 8px;
}

.btn_disabled {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e9e9e9;
    border-color: #dcd9d9;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #afaeae;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    min-width: 80px;
    outline: none;
}

.dateformat {
    color: #000;
}

.btnbackpage {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    /*background: #363636 url('images/btnbackarrow.png') no-repeat 7px center;
    padding-left: 25px;*/
        background: #363636 url(images/btnbackarrow.png) no-repeat 7px center !important;
    padding-left: 25px !important;
    height: 16px;
    line-height: 16px !important;
    padding: 6px;
}

    .btnbackpage:hover {
        background: #222222 url('images/btnbackarrow.png') no-repeat 5px center !important;
    }

select {
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    width: 250px;
    max-width: 250px;
    line-height: 25px;
}

.date select {
    width: 124px;
}

select#DailyCommodityList, select#MonthlyCommodityList {
    width: 120px;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 6px;
}
/*********************LINKS SECTION******************/
a.gridactionlink {
    margin-right: 12px;
    text-decoration: underline;
}
/***********OTHER PAGES STYLE*************/


.throbber-header {
    font-size: 145%;
}

.throbber {
    display: none;
}

    .throbber .curtain {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #3e4d45;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

    .throbber .curtain-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

        .throbber .curtain-content div {
            text-align: center;
            padding: 250px;
            color: #FFF;
        }

/***********POPUP STYLE*************/
div.popup {
    border: 3px solid #333;
    background: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

div.popup1 {
    width: 500px;
    height: 274px;
    margin-left: -250px;
    margin-top: -125px;
    overflow-y: auto;
}

div.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.5;
    z-index: 500;
}

div.pointlist {
    clear: both;
    min-height: 20px;
    max-height: 175px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
/**********EDIT USER DETAILS STYLE**************/
div.tabscontainer .t-header, .t-grid-header {
    background: #fff;
}

div.tabscontainer .t-widget, .t-input {
    background-color: #FFFFFF;
    border: none;
}

div.tabscontainer div#customer-edit div.t-content {
    padding: 20px;
}

    div.tabscontainer div#customer-edit div.t-content div.tab2 {
        clear: both;
        color: #333;
    }

div.tabscontainer div#customer-edit ul li.t-state-default {
    background: #1399E6;
}

    div.tabscontainer div#customer-edit ul li.t-state-default a.t-link {
        color: #fff;
    }

div.tabscontainer div#customer-edit ul li.t-state-active {
    background: #fff;
}

    div.tabscontainer div#customer-edit ul li.t-state-active a.t-link {
        color: #1399E6;
    }

div.tabscontainer div#template-edit ul li.t-state-active {
    background: #fff;
}

    div.tabscontainer div#template-edit ul li.t-state-active a.t-link {
        color: #1399E6;
    }

table.customer-info-tab tbody tr td {
    color: #333;
}
/*table.customer-info-tab tbody tr td { color: #333;}*/

div#customer-addresses-grid table .t-grid-header tr th {
    background: #1399E6;
}

div#customer-addresses-grid table tbody tr td {
    border-style: solid;
    border-width: 0 0 0 1px;
    color: #333333;
    line-height: 1.6em;
    overflow: hidden;
    padding: 0.25em 0.6em;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-color: #DDDDDD;
}

div.tabscontainer label.lbl1 {
    width: 130px !important;
}

.t-numeric .t-state-hover, .t-numeric .t-state-hover:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

div.gridblue div table {
    border: 1px solid #ccc;
}

    div.gridblue div table thead tr th {
        background: #1399E6 !important;
    }

div.gridblue div div.t-grid-pager {
    border: 1px solid #ccc;
}

table.tbl2 tbody tr td {
    color: #333;
}


div.form-actions {
    text-align: center;
}

div.ui-dialog-buttonset {
    text-align: center;
}
/****GRID SECTION******/
table.tblgrid1 {
    width: 100%;
    border-collapse: collapse;
}

    table.tblgrid1 tbody tr th {
        padding: 5px;
        border: 1px solid #ccc;
        font-weight: bold;
    }

    table.tblgrid1 tbody tr td {
        padding: 5px;
        border: 1px solid #ccc;
    }

        table.tblgrid1 tbody tr td b, table.tblgrid1 tbody tr th b {
            font-weight: bold;
        }

/*#ui-datepicker-div
{
    
    left: 981.5px !important;
}*/


.view-icon {
    background: url(/Administration/Content/images/view-icon.png) no-repeat;
    text-indent: -9999px;
    display: block;
}

/*******GRID SECTION**************/
div.gridcont1 {
    overflow-x: auto;
    width: 100%;
}

table.grid {
}

    table.grid tbody tr th {
        padding: 8px 5px;
        background: #5a5a5d;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        border-bottom: 2px solid #ccc;
        text-align: left;
    }

    table.grid tbody tr td {
        padding: 8px 5px;
        color: #333;
        font-size: 12px;
        border-bottom: 1px solid #ccc;
        background: #fff;
    }

    table.grid tbody tr:nth-child(odd) td {
        background: #eaeaea;
    }

div.gridcont2 {
    overflow-x: auto;
    width: 100%;
    border: 1px solid #555;
    margin: 10px 0 20px 0px;
    clear: both;
}

table.grid2 {
}

    table.grid2 tbody tr th {
        padding: 8px 15px;
        background: #5a5a5d;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        border-bottom: 2px solid #ccc;
        vertical-align: middle;
        text-align: left;
    }

    table.grid2 tbody tr td {
        padding: 8px 15px;
        color: #333;
        font-size: 12px;
        border-bottom: 1px solid #ccc;
        background: #fff;
        vertical-align: middle;
    }

    table.grid2 tbody tr:nth-child(odd) td {
        background: #eaeaea;
    }

div.reportcont1 span {
    display: inline-block;
    width: 200px;
    padding: 8px 0px;
}

div.reportcont2 span {
    display: inline-block;
    width: 160px;
    padding: 8px 0px;
}

.iconscontainer {
    display: inline-block;
    margin: 10px 0px;
    overflow: auto;
}

div#GrphMultiBar img {
    width: 360px;
    float: left;
}

div#CashMultiBar img {
    width: 360px;
    float: right;
}

.nodatafound {
    background: #fff;
    padding: 10px;
}

    .nodatafound p {
        color: #cc0000;
        font-size: 14px;
    }

.portlet-header .ui-icon {
    float: left;
}

.placeholder {
    background-color: #f3f3f3;
    border: groove;
    /*padding-right:10px;
        padding-left:10px;*/
    text-align: center;
    width: 98%;
    height: 100%;
}

table.dashboardTable .t-grid td {
    font-size: 12px;
}

table.dashboardTable .portlet-header, table.dashboardTable .t-grid-pager {
    font-size: 14px;
}

.t-grid-header .t-header .t-link {
    font-size: 12px;
}

.widgetFilter {
    background-color: #373640 !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

table.dashboardTable .t-pager .t-numeric, table.dashboardTable .t-pager .t-page-i-of-n {
    margin: 3px 5px;
}
/*Added on 12-Dec-2016 stop fix the admin confirm grid scroll issue*/
#ConfirmtDetail-grid {
    /*overflow:auto;*/
    background: #eff7fc;
}

.resizeTable .t-grid table {
    /*width:inherit !important;*/
    min-width: 1500px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.resizeTable .t-grid-bottom, .resizeTable .t-grid-top {
    border-width: 0;
}
/*End*/

/*Added on 24-April-2017 UI issue*/
.t-grid table {
    overflow: auto;
}

.t-filter-options input {
    min-width: 122px;
    width: 90% !important;
    padding: 0 4% !important;
}
/*End*/


/*********************MEDIA QUERIES SECTION**************************/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    /*.t-menu .t-item {
        position: relative;
        display: block !important;
        zoom: 1;
        vertical-align: top;
        border-top: 1px solid #fff;
    }

    .t-menu .t-arrow-down {
        margin-left: 2px;
        margin-right: 0px;
        vertical-align: top;
        float: right;
    }*/

    div.adminheaderright {
        width: 40px;
        overflow: hidden;
    }
}

@media only screen and (min-width : 481px) and (max-width : 600px) {
}

@media only screen and (min-width : 600px) and (max-width : 800px) {
    div.container2 {
        width: 40% !important;
    }

    .t-grid td, .t-grid-header .t-header {
        font-size: 10px !important;
    }
}

@media only screen and (min-width : 800px) and (max-width : 1024px) {
}


@media only screen and (min-width : 1024px) {
}

/*New Trade Entry Page*/
.gencontainer1 {
    width: 100%;
    margin: 0 0;
    padding: 15px;
}

.new_select select, .new_select input {
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    max-width: 250px;
    vertical-align: middle;
}

.new_select label, .new_select .control-label, .new_select td, .new_select td label {
    text-align: right;
}

.ui-datepicker-trigger {
    max-height: 15% !important;
    margin-left: 10px;
}


.new-input-container select {
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    max-width: 250px;
}


.pad10 tr td label {
    margin: 10px 0 20px;
}

.no-box {
    border: none !important;
    box-shadow: none !important;
    background: #fff !important;
}

.new-box {
    background: #f8f8f8 !important;
    box-shadow: none;
}

.button_new {
    /*width:58% !important;*/
    margin: 0 auto;
}

    .button_new:hover, .button_new:focus, .button_new:active {
        width: 58% !important;
        margin: 0 auto color: #fff !important;
        text-decoration: none !important;
    }

.new_select #TradeComment {
    width: 80%;
    background: none;
}

.new-radio input {
    margin: 0 5px 0 10px !important;
}

.btn:hover, .btn:focus {
    color: #fff !important;
}

#frwdTradeError {
    font-weight: normal;
    padding-left: 0px !important;
}


/*added by Hemant : for grid paging to no.of records dropdown changes*/
.t-dropdown .t-input, .t-selectbox .t-input {
    display: inline-block !important;
}

.t-page-size .t-dropdown, .t-page-size .t-header {
    background: #333 !important;
    color: #fff;
}

.t-popup .t-reset li {
    color: #000 !important;
    padding: 5px;
}

    .t-popup .t-reset li:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }

.t-pager:before {
    content: "No. Of Records :";
    color: #373640;
    font-size: 14px;
}

.t-arrow-first {
    text-indent: 0 !important;
    color: #373640;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 0 9px;
    text-decoration: underline;
    text-transform: capitalize;
}

.t-arrow-last {
    text-indent: 0 !important;
    color: #373640;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 0 9px;
    text-decoration: underline;
    text-transform: capitalize;
}
/*ended*/

.status-bar-bell {
    position: relative;
    display: inline-block;
}
.status-bar-bell .fa{
    position:relative;
}
    .status-bar-bell span {

            font-family: arial;
     display: inline-block;
    min-width:22px;
        padding: 6px 2px;
    font-size: 12px;
   
    line-height: 1; 
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: yellow;
    background: #cc0000;
    border-radius: 50%;
    position:absolute;
    top:-10px;
    left:10px;
    
    /*
        font-family: arial;
        position: absolute;
        top: -8px;
        right: -8px;
        color: yellow;
        background: #cc0000;
        text-align: center;
        width: 22px;
        height: 22px;
        font-size: 12px;
        line-height: 23px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        */
    }

.print-right {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}

.totalVolume {
    margin-left: 535px;
}

.red-font {
    color: red;
}

.tradeDetails {
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    width: 125px;
}

/*For upload control start here*/
.t-upload-button {
    border: none;
    background: none !important;
    width: 260px !important;
    padding: 15px 10px !important;
    margin-bottom: 15px !important;
    border-style: dashed !important;
}

    .t-upload-button::before {
        content: "Or drop files here to upload";
        float: right;
    }

    .t-upload-button span {
        width: 77px;
        display: block;
        overflow: hidden;
        background-color: #363636;
        background-image: linear-gradient(to bottom, #444444, #222222);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-image: none;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 5px 3px;
    }

.t-file > * {
    color: #333333 !important;
}

.t-upload-files {
    width: 260px;
    margin-bottom: 10px !important;
}
/**for hide on IE browser**/
@media screen\0 {
    .t-upload-button {
        border: none !important;
    }

        .t-upload-button::before {
            content: "" !important;
        }
}

/*end here*/

.profileLink {
    text-decoration: underline;
    color: #0293de !important;
}

.countryCode {
    min-width: 35px !important;
    max-width: 40px !important;
    background-color: #e8e8e8;
}

.multiselect-container {
    max-height: 400px !important;
    overflow-y: auto !important;
}

.direction {
    border: 1px solid #ccc;
    width: 52%;
    padding: 3px;
}

#TargetAlertStartDate + img,
#TargetAlertEndDate + img,
#StopAlertStartDate + img,
#StopAlertEndDate + img {
    margin-left: -25px !important;
}

#TargetAlertStartDate + span,
#TargetAlertEndDate + span,
#StopAlertStartDate + span,
#StopAlertEndDate + span,
#StartDate + span, #EndDate + span,
 #StartDateFilter + span, #EndDateFilter + span,
#CreatedOnFrom + span, #CreatedOnTo + span{
    margin-left: -35px !important;
}

.startDateContainer span.t-select {
    margin-left: -35px !important;
}

.stopAlert-validation-error {
    color: #ff0000;
}

.alignTextArea label {
    margin-left: 5px;
    display: block;
    float: left;
    padding-top: 21px;
}

.alignTextArea {
    margin-top: 10px;
}

.center {
    text-align: center;
}

div.label-inline {
    margin-bottom: 10px;
}


div.partialFill input, textarea, select {
    border: 1px solid #ccc !important;
    background-color: white !important;
}

.partialFill {
    margin-left: 25px !important;
}

.errorPartialView {
    margin-left: 32%;
}

.partialFill label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 4px;
}

.cancelPopupButton {
    float: right;
    margin-top: 10%;
}

.label-partialFill {
    margin-left: 30%;
}

    .label-partialFill label {
        text-align: left;
    }

.textbox-disabled, #Quantity {
    background-color: #e9e9e9 !important;
}

.ui-resizable-handle, .ui-dialog {
    z-index: 10000000 !important;
}

.ui-dialog-title {
    height: 25px;
}

.master {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.0); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.0); /* Safari and Chrome */
    -o-transform: scale(1.0); /* Opera */
    padding: 10px;
}

.input-group-dollar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* display: table; */
    border-collapse: separate;
    padding: 6.7px 12px;
    /* font-size: 14px; */
    font-weight: normal;
    /* line-height: 1; */
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: -5px;
}

.dollar-textbox {
    width: 33%;
    min-width: 125px !important;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.bold-font {
    font-weight: bold;
}

.cursor-Pointer {
    cursor: pointer;
}

.inline-display {
    display: inline !important;
}

.inlineblock-display {
    display: inline-block !important;
}
.color-gray {
    color: gray;
}

.cancelled-value {
    text-decoration: line-through;
    text-decoration-color: gray;
    opacity: 0.9;
}
.ui-dialog-content.ui-widget-content{
    height:auto !important;
}
.CompFieldBracO, .CompFieldBracC {
    width : 50px !important;
}
.ComputedFieldName, .ComputedFieldName1,.ComputedFieldName2,.ComputedFieldName3,.ScalarFunction {
    width : 155px !important;
}

#productddl[disabled], #FloatType1ddl[disabled], #traderddl[disabled], #PayTypeddl[disabled] {
   background-color: #e8e8e8 !important;
}

#templateFiles {
    clear : both;
}
.label-title {
     font-weight: bold;
    color: black;
    display: block;
}

.checkbox-label {
     font-weight: bold;
    color: black;
}

.inline-div {
    float: left;
    width: 20%;
}

.inline-div-active {
    width: 10%;
    display: inline;

}

.template-fileUpload {
    width: 95%;
    float: right; 
    background-color: #eff7fc; 
    border-color: #d2dfe6;
}

.folder-dropdown {
    min-width: 190px;
    padding: 6px 12px;
    height: 34px;
}

.fa-green {
    color: #009900;
}

.fa-red {
    color: #ff0000;
}

.ajax-processing {
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	background-image: url('/Administration/Content/images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	z-index: 999999999;
	opacity: 0.5;
}

.disable-FileUpload-div {
    opacity: 0.5;
}
.disable-FileUpload {
    pointer-events: none;
    opacity: 0.5;
}

.disable-input {
    opacity: 0.5;
}

.disabled-color {
    background-color: #e8e8e8 !important;
}

.fieldset-date {
    border: 1px solid #ccc;
    padding: 15px;
    color: #808080;
}

.startDateContainer {
    width: 48%;
    display: inline-block;
}

 .dateContainer {
        width: 30%;
    }

  .dateContainer-large {
        width: 45%;
    }
 div.t-picker-wrap .t-input {
      border: 1px solid #ccc !important;
  }

  .fa-file-pdf-o {
    background-color: red;
    color: white;
    font-size: 16px !important;
  }

  .fa-file-word-o {
    color: darkblue;
    font-size: 16px !important;
  }

  .fa-file-excel-o {
    color: green;
    font-size: 16px !important;
  }

  .fa-file-image-o {
      font-size: 16px !important;
  }

  .fa-file-archive-o {
      font-size: 16px !important;
  }

 
  a.nodecoration {
    text-decoration: none;
}

@media print {
    @page {
        margin: 10mm 2mm 10mm 2mm;
    }

    .gencontainer {
        padding: 0 0 0 0 !important;
        height: auto !important;
    }

    #newForwardTrades {
        width: 100% !important;
    }

    #tablebox {
        width: 1100px !important;
        max-height: 100% !important;
    }

    div.box2 {
        padding: 15px 5px !important;
    }

    .totalVolume {
        margin-left: 470px !important;
    }

}


/*added by Dhanaji dated -:26/09/2017*/
/*custom col*/
.col-1 {
width:100%;
}
.col-2 {
    width:50%;
}
.col-3 {
    width:33%;
}
.col-3 {
    width:25%;
}
/* style for all element*/
label {
    margin-bottom:6px;
    margin-top:6px;
    font-weight:normal!important;
    display: inline-block;
    color:#000;
}
input[type="text"]:disabled{
    background-color:#e8e8e8;
}
.customElement td {
    padding:5px;
}
.customElement input[type="text"], .customElement input[type="password"], .customElement select, 
.box2 input[type="text"], .box2 input[type="password"], .box2 select, .tabscontainer input[type="text"], .tabscontainer input[type="password"], .tabscontainer select {
    border: 1px solid #ccc;
    padding: 3px;
    width:241px;
    height:23px;
    min-width: 241px;
    max-width: 241px; 
    font-family: Arial;
    font-size: 1em;
    color: #808080;
}
input[type="text"].hasDatepicker, .t-datepicker input[type="text"].t-input {
    min-width:150px;
    width:150px;
}
.box2 select, .tabscontainer select, .customElement select {
     width:250px;
     max-width: 250px; 
      height:30px;
}
/*Added on 19-Sep-2017 to fix Sorting Arrow issue*/
.t-icon.t-arrow-up {
    background-position: center -57px !important;
}
/*End*/

/*for notification table*/
.notificationTable thead {
    background:#1399e6;
    color:#fff;
    font-weight:bold;
}
.notificationTable tr td:nth-child(1) {
    width:34%;
}
.notificationTable tr td:nth-child(2) {
    width:16%;
}
.notificationTable tr td:nth-child(3) {
    width:16%;
}
.notificationTable tr td:nth-child(4) {
    width:34%;
}
.notificationTable, .notificationTable td, .notificationTable th {
    border-color:#B3B1B1!important;
     
}
input[type=checkbox].child, #checkEmailFileUploaded, #checkSMSFileUploaded {
    margin-left:0%!important;
}
.table-bordered>thead>tr>th  {
    border-bottom-width:1px!important;
}
input[type=checkbox].master{
    width:auto!important;
    height:auto!important;
    margin-right:5px;
}


.notificationTable td .trRow > DIV {
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding:0px 8px;
    line-height:30px; 

}
  
.notificationTable td .rowcontainer {
    padding:8px;
}
    .notificationTable td .trRow > DIV:last-child {
    border-bottom:none;
    }

.notificationTable td .trRow > DIV:not(:first-child)  {
 
   display:none;
}
.colIcon {
    cursor:pointer;
}
.notificationTable td .trRow > div:first-child {
    border-bottom:none;
}
.notificationTable  tr.expand td .trRow > div:first-child {
     border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.notificationTable tr.expand td .trRow > div {
     display:block;
}
.notificationTable tr td {
    padding:0px!important;
}
/*checkbox style*/
.checkboxStyle {
	display: none;
}
.checkboxStyle ~ .customCheckBox { 
	border: 1px solid rgba(0, 0, 0, 0.15); 
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin-bottom:0px;
	vertical-align:middle;
	margin-right:8px;
	background:#fff;
}
.checkboxStyle ~ .customCheckBox:active, .checkboxStyle:checked ~ .customCheckBox:active {
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);*/
}
.checkboxStyle:checked ~ .customCheckBoxl { 
	border: 1px solid rgba(0, 0, 0, 0.15);  
}
.checkboxStyle:checked ~ .customCheckBox:after {
	content: "\e013";
	font-family:'Glyphicons Halflings'; 
	font-size: 13px;
	position: absolute;
	top: -6px;
	left: 2px; 
	color: #666666;
}

/*button style*/
.btnblack, .btn_disabled, .btnbackpage {
    margin:8px 8px 5px 0px
}
.contactUsPage {
    margin:0px auto !important;
    box-sizing:border-box;
    display:block; overflow:hidden;
}
.contactUsPage h2 {
    font-size:20px;
    margin:0px 0px 10px 0px;
}
.contactUsPage p {
    line-height:20px;
    margin:0px 0px 15px 0px;
    padding:0px 0px 10px 0px;
    border-bottom:1px dotted #ccc;
}
.contactUsPage .textbox, .contactUsPage .textarea {
    max-width:initial;
    width:100%!important;
    box-sizing:border-box;
    min-width:100% !important;
}
    .contactUsPage .textbox {
       height:34px!important;
    }
.contactUsPage .inputRow{
    margin:4px 0px 4px 0px;
}
#divRecord {
    line-height:20px;
}

/*Edit & Add Report Page*/
.fieldList {
    width:250px;
    height:250px;
    overflow-y:auto;
    background:#fff;
    overflow-x:hidden;
    border: 1px solid #ccc;
    margin-top:5px;
}
.fieldList li {
    padding:4px 4px 4px 4px;

}
 .fieldList li:hover {
    background:#ccc;
        }
    .fieldList li.selected {
    color:#fff;
    }
.editReportPage input, .editReportPage textarea, .editReportPage select , .createReportPage input, .createReportPage textarea, .createReportPage select {
    margin-top:5px;
}
.editReportPage .filterRow, .createReportPage .filterRow {
margin:0px 0px 25px 0px;
padding:0px 0px 5px 0px;
 
}
.editReportPage label , .createReportPage label {
    color:#000;
}
.upDownButton {
    width: 40px; 
    vertical-align:top; 
    text-align: center; 
    padding-top:130px; 
    padding-left:20px
}
    .upDownButton button { 
    margin:5px 0px 5px 0px;
    width:30px;
     color:#555;
     cursor:pointer;
    
    }
 .controlBtn{
     width: 110px; 
     vertical-align:top; 
     text-align: center; 
     padding-top:115px; 
     padding-left:7px;
      padding-right:7px;
      

 }
 .controlBtn button {
     margin:4px 0px 4px 0px;
     color:#555;
     cursor:pointer;

 }
.addComputedPopup .box{
    margin:0px 0px 0px 0px;
}

 
/*grid  issues changes 28-09-2017*/
.t-filter-help-text {
    color:#333;
}
.t-popup .t-datepicker .t-picker-wrap .t-input {
    min-width:105px;
    max-width:105px;
    width:105px !important;
    display:inline-block;
}
.t-popup input[type='radio'] {
    min-width:initial;
    width:initial!important;
}
.t-popup input[type="text"], .t-popup select {
    
    min-width:unset;
    max-width:unset;
    padding:initial;
}
.t-dropdown-wrap .t-input {
    border:none!important;
}
.t-grid-header .t-header .t-link{
    margin-right:6px;
}
.lableText {
    color:#808080;

}
.alignTextArea  textarea{
    width:241px;
}
.partialFill .dollar-textbox {
    width:194px!important;
    padding:3px 12px!important; 
}
.partialFill .input-group-dollar{
    border-radius:4px 0px 0px 4px;
    display:inline-block;
    padding:8px 12px;
    margin-top:2px;
}

.loaderDiv {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #1399e6; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display:none;
    top: 50%;
    left: 50%;
    position:absolute;
    z-index:9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.customBackDrop{
   position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .6;
    display:none;
}
.headerFixed .header {
    position:fixed;
    top:0px;
    width:100%;
    z-index:1;
}
.headerFixed .header-menu {
    margin-top:70px;
}
.userScroll{
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 20px;
    height:208px;
    overflow-y:auto;

}
.header-menu .t-menu .t-link {
    font-size:12.96px;
    padding:12.96px;
}
.header_logo img {
    vertical-align: inherit!important;}

/* CSS start (Added by Ranjit)*/

.gray-label label{color:#333 !important;}

.custom-chkbox .checkboxStyle:checked ~ .customCheckBox:after {
content: "\f00c";
font-family: FontAwesome;
top: 1px;
left: 2px;
font-size: 15px;}

.date-wrapper {width:25% !important;     border-radius: 10px;}

.date-wrapper legend {padding:0 3px;}

.date-wrapper .startDateContainer {
width: 47%;
vertical-align: top;}

.date-wrapper .startDateContainer .t-picker-wrap { padding:0; }

.date-wrapper .startDateContainer .t-datepicker .t-input  {
width:205px !important;
min-width:205px !important;
max-width:205px !important;}

.date-wrapper .startDateContainer:last-child {margin-left:5%;}

.todays-date {
display: inline-block;
vertical-align: middle;}

.todays-date .pipe {padding:0 7px; vertical-align:top;}

.headerFixed .header-menu {
position:fixed;
top:0;
width:100%;
z-index:2;
margin-top:70px;
margin-bottom:0 !important;}

.marque-wrapper #txtNotifications {padding: 5px 0;}

.marque-wrapper div.status-bar {
padding: 5px 5px;
max-height:26px;
height:26px; }

.marque-wrapper div.status-bar a {
padding:0;
margin:0;
line-height:17px;
height: 26px;
max-height:26px;}

.marque-wrapper .status-bar-bell .fa { font-size:26px;}

div.login-info, .adminheaderlinks { margin-right:10px !important;}

/* Datepicker CSS Start */
.datepicker-wrapper { min-width:400px;}

.datepicker-wrapper .fieldset-date > legend {
    padding:0 3px;
    width: auto;
    font-size: 14px;
    color: #808080;
    border: none;
    margin: 0;
}

.datepicker-wrapper .fieldset-date {
padding:2px 15px 15px 15px;
min-width:340px;
max-width:340px;
width:inherit;
margin-bottom:2px;
border-radius:5px;}

.datepicker-wrapper .fieldset-date .startDateContainer  {
width: 30%;
vertical-align:top;
min-width:165px;
max-width: 165px;}

.datepicker-wrapper .fieldset-date  .t-picker-wrap .t-icon { margin-top: 0px;}

.datepicker-wrapper .fieldset-date .t-datepicker input[type="text"].t-input {
min-width: 157px;
width: 157px;}

.datepicker-wrapper .fieldset-date .startDateContainer:last-child { margin-left:5px;}
/* Datepicker CSS End */

.expand-collapse-bt { margin-top:-10px;}

.total-tbl {
border: solid 1px #000;
float: right;
margin-top: 8px;
margin-right: 2px;
font-family: "Segoe UI", Arial, sans-serif;}

.total-tbl thead th {
border: solid 1px #d2cfcf;
background-color:#1399e6;
padding: 6px;
color:#fff;
font-size: 12px;}

.total-tbl tr td {
border: solid 1px #d2cfcf;
padding:5px 5px;
font-weight:600;
min-width: 40px;
text-align:right; 
color: #333;
font-size: 13px;}

.total-tbl tr td:first-child {text-align:center;}

.total-tbl tr td label {margin:0;}

.t-datepicker .t-picker-wrap .t-select {vertical-align:middle; top: 4px; }

.t-datepicker .t-picker-wrap .t-icon {
vertical-align: middle;
margin-top:0;}

.marque-wrapper div.status-bar {text-align:center;}

.marque-wrapper {
position:fixed;
top:0;
width:100%;
z-index:1;
box-shadow: 0px 0px 3px #989494;
height:60px;
max-height:60px;}

#ContractEffectiveDate + span, #ContractEndDate + span, #InvoiceDetailStartDate + span,
#InvoiceDetailEndDate + span, #DateExecuted + span, #ContractVersionDate + span {
margin-left: -35px !important; }

.invoice-month .ui-datepicker-trigger  {
margin-left: -27px !important;
cursor: pointer;}

.notifcation-date img, #BeginDate + img, #ExpiryDate + img {
position: relative;
right: 30px;
top:2px;
cursor:pointer;}

.rounded-box {
border: solid 1px #ccc;
padding:5px 7px;
border-radius: 5px;
max-width:130px; }

.rounded-box label {
display:inline-block;
vertical-align:top; }

.rounded-box  input[type="checkbox"] {top: 4px;}

.mr-tp-10 {margin-top:10px;}

.t-widget.t-calendar .t-nav-next, .t-widget.t-calendar .t-nav-prev { top: .1em;}
.report-box legend {
font-size: 13px;
border: none;
background: transparent;
width: auto;
padding: 0 4px !important;
margin: 0;}

.report-box .fieldset-date {
min-width: 250px;
max-width: 250px;}

.or-style {
display:block;
padding-left:15px;}

.detail-filter-pannel {width:100%;}

.detail-filter-pannel .btn {
min-width:170px;
height:30px;
min-height:30px;
max-height:30px;
padding:0;}

.detail-filter-pannel a {
width: 700px;
display: block;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;}


.modal .vertical-alignment-helper {
display:table;
height: 100%;
width: 100%;
pointer-events:none; }

.modal .vertical-align-center {
display: table-cell;
vertical-align: middle;
pointer-events:none;}

.modal .modal-content {
width:inherit;
max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
height:inherit;
margin: 0 auto;
pointer-events: all;}

.modal .modal-header {
border: none;
background: #1399e6;
color: #fff;
padding:7px 15px;
border-radius: 6px 6px 0 0;}

.modal .modal-header .modal-title{ font-size:15px;}

.modal .modal-header .close {
margin-top: 0px;
color: red;
opacity: 1;
text-shadow: none;}

.modal .modal-body { padding:15px;}

.modal .modal-footer {
border: none;
margin-top: 0;
padding: 10px 15px;} 

.modal .modal-footer .btn {
height: 30px;
padding: 0; 
margin: 0;}

#CutomeSelectField .modal-dialog, #CutomeFilterCriteria .modal-dialog,
#CutomeSortCriteria  .modal-dialog, #CutomeSubTotalCriteria .modal-dialog {width:750px;}

.fields-table { margin:auto;}

table.fields-table label {
font-weight: 600 !important;
font-size:13px;}

table.fields-table .fieldList {margin:0;}

table.fields-table .controlBtn, table.fields-table .upDownButton {padding:0;}

table.fields-table .controlBtn table  {margin:auto;}

table.fields-table .upDownButton {padding-left:30px;}

table.fields-table .controlBtn button, table.fields-table .upDownButton button {color:#fff;border-radius: 3px}

.link-disable {
pointer-events: none;
color: #9a9393 !important;}

.version-history-wrapper {
margin:20px 0 0 0; }

.version-history-wrapper h4 {
font-size: 18px;
margin-bottom: 10px;
color: #29aae3;
font-family: 'Source Sans Pro', sans-serif;}

.version-history-wrapper table {
width:100%;
border:solid 1px #ddd;
font-family:"Segoe UI", Arial, sans-serif;}

.version-history-wrapper table thead tr th {
padding: 6px;
color: #fff;
text-align: left;
font-size: 12px;
background: #1399e6;
border-right: solid 1px #fff;}

.version-history-wrapper table thead tr th:last-child {border:none;}

.version-history-wrapper table tbody tr td {
color: #333;
font-size:13px;
padding: 9px 5px;
border-right: solid 1px #ddd;}

.version-history-wrapper table tr:nth-child(odd) { background-color:#f7f7f7; }

.version-history-wrapper table tr:nth-child(even) { background-color:#fff; }

.info {
padding-left: 10px;
font-weight: 600;
color: #636262;
display: inline-block;
vertical-align: top; }


.password-link {
color: #727272 !important;
font-size: 20px;
display: inline-block;
vertical-align: top;
margin: 5px 0px 0px 10px; 
cursor:pointer; }

.sms-input-wrapper .sms-input {
height: 29px;
padding: 0 3px;
font-size: 14px;
text-align: left;
margin-top: 5px;}

.sms-input-wrapper .sms-input:last-child {border-left-color:transparent;}

.font-14 {font-size:14px;}

.sms-input-wrapper .field-validation-error {
font-size: 13px;
margin-left: 130px;}

.ui-dialog {
box-shadow: 0px 1px 3px #868282;}

.select-wrapper .dynamic-select:nth-child(2){
/*width: 97% !important;*/
height:auto !important;
width: auto!important;
min-width: 97% !important;
max-width: 500px !important;
font-size:13.3333px !important; }

.select-wrapper input[type=text] {
width:210px !important; 
min-width:210px !important;
max-width:210px !important;
margin:0 !important;
padding:0 3px !important;
background-color:#fff !important;
border: 1px solid #ccc !important;
border-right: none !important; }

.select-wrapper input[type=text]::-ms-clear { display: none !important;}

.mr-bt-5 {margin-bottom:5px;}
 
.form-column .half-width:nth-child(2) {margin-right:5px;}

.form-column .half-width input[type="text"] {
max-width:114px;
width:114px;
 min-width:114px;}

.contrycode-warpper #PhoneNumber {
width: 187px !important;
min-width: 187px !important;
max-width: 187px !important;}

.placeholder-wrapper input[type="text"]::-webkit-input-placeholder { font-style: italic;}

.placeholder-wrapper input[type="text"]:-moz-placeholder { font-style: italic;}

.placeholder-wrapper input[type="text"]::-moz-placeholder { font-style: italic;}

.placeholder-wrapper input[type="text"]:-ms-input-placeholder { font-style: italic;}

.clear {clear:both;}

/* Grid Pagination CSS Start */

.t-grid .t-grid-pager .t-link .t-icon .btn  {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
max-width: 100%;
max-height: 100%;
min-width: 100%;
min-height: 100%;
display: block;
border-radius: 2px;}

.t-grid .t-grid-pager .t-link {
width: 30px;
height: 25px;
padding: 0 !important;
margin-top: 1px !important;
margin-right: 5px;
max-width: 30px;
max-height: 25px;
line-height: 25px;
vertical-align: top;}

.t-grid .t-grid-pager .t-link .t-icon {
width:100%;
height:100%;
padding:0;}

.t-grid .t-grid-pager .t-link.t-state-disabled .t-icon .btn  {
background: #ddd;
border-color: #ddd;
color: #b1b1b1 !important;
cursor: default;
box-shadow: none;
font-weight: normal;}

.t-grid .t-grid-pager .t-page-size {
margin:0 5px;
vertical-align:middle;}

.t-grid .t-grid-pager .t-page-size .t-dropdown-wrap { border-color: #333333;}

.t-grid .t-page-size .t-header {
height:25px;
margin: 0;
padding: 0;
vertical-align:top;
border-radius: 2px;}

.t-grid .t-grid-pager .t-page-size .t-dropdown-wrap {
border:none;
height:100%;}

.t-grid .t-grid-pager .t-page-size .t-dropdown-wrap .t-input { line-height: 20px;}

.t-grid .t-pager {
padding:0 7px;
margin-top:1px;}

.t-grid .t-pager .t-numeric { margin:0 !important;}

.t-grid .t-pager .t-numeric .t-link, .t-grid .t-pager .t-numeric .t-state-active {
background-color: #363636;
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color: #FFFFFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
text-align: center;
border-radius: 2px;
font-size: 13px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
border-style: solid;
border-width: 1px;
height: 23px;
width: 28px;
line-height: 23px; }

.t-grid .t-pager .t-numeric .t-state-active {
display:inline-block;
margin-right:5px;
vertical-align:top;
margin-top:1px;
background-color: #1399e6;
background-image:linear-gradient(to bottom, #23adfd, #1473ab); 
font-weight:600;
width: 20px;
height: 23px;
line-height: 22px;
max-width:20px;
max-height:23px; }

.t-grid .t-grid-pager .t-status-text {margin-top:2px;}

.t-pager:before {margin-right: 5px;}

.t-grid .t-numeric .t-state-hover { background-image:linear-gradient(to bottom, #222222, #444444) !important; }

/* Grid Pagination CSS End */


.filter-container { width:100%;}

.filter-container tr td input[type="text"], .filter-container tr td select {
width:29%;
min-width:inherit;
max-width:200px;
margin-bottom:10px;
margin-right: 10px;}


.filter-container tr:last-child td input[type="text"], .filter-container tr:last-child td select {margin-bottom:0;}



.filter-container tr td input[type="text"],
.filter-container tr td select, .filter-container .action-btns,
.filter-container .radio-wrapper { float: left;}

.filter-container .action-btns {
min-width:50px;
margin-top: 5px;}

.filter-container .action-btns img { cursor:pointer;}

.filter-container .action-btns img:first-child, .mr-rt-5 { margin-right:5px;}

.filter-container .radio-wrapper .radio-inline {margin:0 10px 0 0;}

.filter-container .radio-wrapper {margin-right:10px; margin-top: 3px;}

.four-column tr td input[type="text"], .four-column tr td select {
width:20% !important;
max-width:155px; }

.tbl-selected-fileds .fieldList {
width:210px;
height: 200px;
}

.tbl-selected-fileds #AvailableFields {width:225px;     height: 430px;}

#AddRecordWindow .t-window-content {
height:inherit !important;
overflow:inherit !important;}



.marque-wrapper .marque-inner-wrapper {
background:#f2f2f2;
padding:0;
max-height:24px;
height:24px;}

.status-wrapper {
background: #f2f2f2;
text-align: center;
position: relative;
height: 36px;}

.status-wrapper .breadcrumb {
display: block;
margin: 5px;
font-size: 14px;
font-weight: 500;
position: relative;
padding:0;
position: absolute;
left: 0;
top: 10px;}

#ComputedFieldsWindow .t-content {
    height:500px !important;
}

#ComputedFieldsWindow .computed-btn-wrapper {
text-align:right;
}

#ComputedFieldsWindow .computed-btn-wrapper .btn:last-child {margin-right:0;}

#ComputedFieldsWindow .computed-wrapper {
width:40%;
float:left;
margin-top:10px;}

#computed-wrapper table {width:100%;}

#ComputedFieldsWindow .computed-wrapper select, #ComputedFieldsWindow .computed-wrapper input[type=text] {
width: 70px !important;
display: inline-block;
max-width: 70px;
vertical-align:top; }

#ComputedFieldsWindow .computed-wrapper .CompFieldBracO, #ComputedFieldsWindow .computed-wrapper .CompFieldBracC {
width:50px !important;
max-width: 50px !important; }

#ComputedFieldsWindow .computed-wrapper .constant-input {
width:50px !important;
min-width:50px !important;
max-width:50px !important; }

#ComputedFieldsWindow .computed-wrapper .ScalarFunction {
width:150px !important;
max-width:150px !important; }

.box .TextBoxStyle {
min-width:175px;
max-width:175px;}

/*#ComputedFieldsWindow { top:225px !important;}

#ComputedFieldsWindow .t-content { height: auto !important;}*/

#ComputedFieldsWindow .AddComp, #ComputedFieldsWindow .RemoveComp {cursor:pointer;}

#ComputedFieldsWindow .t-content { height:auto !important; }


/* Pagination CSS Start */
.pagination-arrow {
background: url('images/arrows.png') no-repeat;
width:8px;
height:104px;
display:block;
text-align:center;
margin:auto;}

.t-arrow-next .pagination-arrow { background-position:1px -60px; }

.t-state-disabled .t-arrow-next .pagination-arrow { background-position:1px -37px; }

.t-arrow-last .pagination-arrow { background-position: 0px -127px}

.t-state-disabled .t-arrow-last .pagination-arrow  { background-position:1px -147px;}

.t-arrow-prev .pagination-arrow { background-position:0px -16px;}

.t-state-disabled .t-arrow-prev .pagination-arrow { background-position:0px 6px;}

.t-arrow-first .pagination-arrow { background-position:0px -103px;}

.t-state-disabled .t-arrow-first .pagination-arrow { background-position:0px -81px;}
/* Pagination CSS End */
#ComputedFieldsWindow .computed-wrapper .ComputedFieldName  {
    width:150px !important;
    max-width:150px !important;
}

.info-link {
font-size:17.5px !important;
display: inline-block !important;
vertical-align: middle;
color: #1399e6;
margin:-3px 0 0 10px;
cursor:default;}

.info-link:hover + .password-wraaper {display:block;}

.password-info-wrapper {
display:inline-block;
vertical-align:middle;
position:relative;}

.password-wraaper {
position: absolute;
top: -22px;
left: 36px;
z-index: 15;
display:none;}

.password-wraaper .arrow_box {
position: relative;
background-color: #fff;
width: 200px;
height: 110px;
padding: 10px;
border-radius:4px;
border: 1px solid #ccc;}

.password-wraaper .arrow_box:after, .password-wraaper .arrow_box:before {
right: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;}

.password-wraaper .arrow_box:after {
border-color: rgba(223, 234, 242, 0);
border-right-color: #ccc;
border-width: 10px;
margin-top: -50px;}

.password-wraaper .arrow_box:before {
border-color: rgba(194, 225, 245, 0);
border-right-color: #ccc;
border-width: 10px;
margin-top: -50px;}

.password-wraaper ul {
font-size: 13px;
}

.password-wraaper ul li {margin-bottom: 3px;}

.password-wraaper ul li:first-child { margin-bottom:5px; font-weight: 600;}

.password-wraaper ul li p { margin-bottom: 3px; }

.password-wraaper ul li p:last-child { padding-left:8px;}

/*.header { z-index: 567 !important;}

.header-menu { z-index: 566 !important; }

.marque-wrapper { z-index: 565 !important;}*/

.headerFixed .header { z-index:31 !important;}

.headerFixed .header-menu { z-index:21 !important; }

.headerFixed .marque-wrapper { z-index:11 !important;}

.select-wrapper select option:hover, .select-wrapper select:focus > option:checked {
background-color:#26a0da !important;
color:#fff !important;}

.price-wrapper .row .form-group { margin-bottom:5px;}


.price-wrapper .row .form-group .checkbox-inline  { padding-top:0px !important;}

.price-wrapper .row .form-group .checkbox-inline label  { margin-bottom:0 !important;}

.v-top { vertical-align:top;}

.TradeDateWrapper #TradeDate {
height:30px;
min-width: 250px; }

.TradeDateWrapper .ui-datepicker-trigger {
margin-left: -17px;
position: relative;
right: 8px;
cursor: pointer; }

.forward-trades-wrapper {
display: block;
overflow: auto; }

#addForwardTrade {
background-color: #363636;
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color: #FFFFFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

#addForwardTrade:hover {background-color:#222222 !important;}

.TextBoxStyle.hasDatepicker { background: url(images/calendar.png) no-repeat right 10px center !important; }

.rowcontainer.invoice-month .field-validation-error { display:block;}

.adminheaderright .adminheaderlinks {margin-top:5px;}

.loaderDiv {position:fixed;}

.create-user-wrapper .password-wraaper {
top: -145px;
right: -18px;
left: inherit;}

.create-user-wrapper .password-wraaper .arrow_box {
position: relative;
background: #fff;
border: 1px solid #ccc;}

.create-user-wrapper .password-wraaper .arrow_box:after, .create-user-wrapper .password-wraaper .arrow_box:before {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none; }

.create-user-wrapper .password-wraaper .arrow_box:after {
border-color: rgba(255, 255, 255, 0);
border-top-color: #ccc;
border-width: 10px;
margin-left: 75px;
bottom: -20px;
top:inherit;}

.create-user-wrapper .password-wraaper .arrow_box:before {
border-color: rgba(204, 204, 204, 0);
border-top-color: #ccc;
border-width: 11px;
margin-left: 74px;
bottom: -22px;
top: inherit; }

.validation-wrapper .field-validation-error span {margin-left:0;}

#CustomReportRunGrid table .t-icon.t-collapse { background-position: 0 -67px;}

#CustomReportRunGrid table .t-icon.t-expand {background-position: 0 -88px;}

#CustomReportRunGrid table .t-reset {margin-left: -7px;}

.number-constant {
height: 28px;
padding: 0 5px 0 5px;
border: 1px solid #ccc !important; }

#ComputedFieldsWindow .computed-wrapper .AddComp {margin:0 5px;}

.contact-number {
width:190px !important;
min-width: 190px !important;
max-width: 190px !important;}

.warning-wrapper .title {
margin-bottom:15px;
font-size: 15px;
font-weight: 600;}

.warning-wrapper .title img {
position:relative;
top:3px;
margin-right: 5px;} 

.warning-wrapper .system-warnings ul li { margin-bottom:8px;}

.warning-wrapper .adminContent tr td label { display:inline-block;}

.warning-wrapper .adminContent tr .adminData { padding-left: 15px; }

/* Boostrap Multiselect Dropdown CSS Start */
.multiselect-native-select .btn-default:hover, .multiselect-native-select .btn-default:focus,
.multiselect-native-select .btn-default:active, .multiselect-native-select .btn-default.active,
.multiselect-native-select .open .dropdown-toggle.btn-default { color: #333 !important; }

.multiselect-native-select .dropdown-menu>.active>a, .multiselect-native-select .dropdown-menu>.active>a:hover,
.multiselect-native-select .dropdown-menu>.active>a:focus { background-color: #e2e2e2 !important; }
/* Boostrap Multiselect Dropdown CSS End */
.trade-modal-bt { padding: 5px 12px !important;}

.modal .modal-header .modal-title {color:#fff;}

#divCustomData .gridcont2 { overflow:inherit; }

/*#divCustomData #CustomReportRunGrid table {
overflow-x: auto;
display: block;} */

#ConfigureValuesWindow .t-window-titlebar {line-height:inherit !important;}

#newForwardTrades .calculationTradePrice {text-align:center;}

#ProdPeriodMonthOther + .ui-datepicker-trigger {
margin-left: -28px !important;
top:-1px;
position: relative; 
cursor: pointer;}

.mr-lt-15 {margin-left:15px !important;}

.mr-bt-10 {margin-bottom:10px;}

/*Grid Table CSS Start*/
.t-widget.t-grid {overflow-x: auto;}

.custom-report-wrapper {padding:0 !important;}

.custom-report-wrapper div.gridcont2 {border:none !important;}
/*Grid Table CSS End*/

#printConfirmation {cursor:pointer;}

.print-section .rowcontainer, .print-section .container2, .print-section .bold-font, .print-section .gencontainer, .print-section h1.blackFont { font-family: Arial !important; }
        
.print-section .rowcontainer, .container2, .print-section .bold-font, .gencontainer {font-size: 14px;}

.print-section .bold-font, .print-section .rowcontainer span {font-weight:bold;}

.print-section h1.blackFont {
color: black;
font-weight: 600;
font-family: arial;
font-size: 22px; }

.print-section .rowcontainer .color-gray, .print-section .rowcontainer .cancelled-value {font-weight:500;}

.print-section div.label-inline > label {
min-width: 100px;
margin: 0 0 3px 0;
font-weight: bold !important; }

.print-section div.label-inline > label, .print-section div.label-inline span {
display: inline-block;
vertical-align:middle; }

.print-section .unit-wrapper label {min-width:inherit !important;}


.forward-trades-wrapper #newForwardTrades tbody > tr > td:first-child { padding-left:30px;}

.forward-trades-wrapper #newForwardTrades tbody#frwdTradeBody > tr > td:first-child { padding-left:15px;}

